.container {
  min-height: 100vh;
  max-height: 100vh;
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  overflow-y: hidden;
  /* background-color: turquoise; */
  overflow-x: hidden;
  /* font-family: 'Pangolin', cursive; */
  /* overflow: hidden; */
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

.welcomeScreen {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  font-size: 3rem;
  animation: fade-out 1.8s ease-in-out 1s 1 normal forwards;
  z-index: 30;
}

.main {
  padding: 1.2rem 1.4rem;
  /* width: 100%; */
  flex-grow: 1;
  /* max-width: 80vw; */
  overflow-y: auto;
  margin-right: 26rem;
  min-height: 100vh;
  font-size: 1rem;
  position: relative;
  /* background-color: tomato; */
  z-index: 20;
  overflow: hidden;
  /* background-color: violet; */
}